@model UsuarioModel
@{
    ViewData["Title"] = "Cadastro de Usuarios";
}

<div class="text-center">
    <h1>Cadastrar Usuario</h1>
</div>

<form asp-controller="Usuario" asp-action="Criar" method="post">
    <div class="mb-2">
        <label for="Nome" class="form-label">Nome</label>
        <input type="text" asp-for="Nome" class="form-control" id="exampleInputName" placeholder="Digite o nome do Usuario">
        @Html.ValidationMessageFor(x => x.Nome)
    </div>
    <div class="mb-2">
        <label for="Email" class="form-label">E-mail</label>
        <input type="email" asp-for="Email" class="form-control" placeholder="name@example.com">
        @Html.ValidationMessageFor(x => x.Email)
    </div>
    <div class="mb-2">
        <label for="Telefone" class="form-label">Login</label>
        <input type="tel" asp-for="Login" class="form-control" placeholder="Digite o Login do Usuario">
        @Html.ValidationMessageFor(x => x.Login)
    </div>
    <div class="mb-2">
        <select asp-for="Perfil" class="form-select form-select-sm" aria-label="Small select example">
            <option selected>Selecione o Perfil</option>
            <option value="@MeuSiteEmMVC.Enums.PerfilEnum.Admin">Administrador</option>
            <option value="@MeuSiteEmMVC.Enums.PerfilEnum.Padrao">Padrão</option>
        </select>
    </div>
    <label for="inputPassword5" class="form-label">Senha</label>
    <div class="input-group mb-3">
        <input type="password" asp-for="Senha" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock" placeholder="Digite a senha do Usuario">
        @Html.ValidationMessageFor(x => x.Senha)
        <button class="btn btn-outline-secondary" type="button" id="togglePassword">
            Mostrar
        </button>
    </div>
    <button type="submit" class="btn btn-primary w-100 mb-1">Cadastrar</button>
    <a class="btn btn-secondary w-100" asp-controller="Usuario" asp-action="Index" role="button">Voltar</a>
</form>
